/* FONTS */
@font-face {
  font-family: norse-bold;
  src: url(./fonts/Norse-Bold.otf);
}
* {
  margin: 0;
}
/* CONTAINER */
.form__container {
  display: flex;
}

/* LEFT SIDE */
.form__container-left {
  background-image: url(./images/tree.jpg);
  width: 35vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.form__heading {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 25%;
  padding: 20px;
}

.form__heading-text {
  font-family: norse-bold;
  font-size: 6rem;
  color: rgb(255, 255, 255);
}

.form__heading-image {
  max-height: 100%;
}

/* RIGHT SIDE */
.form__container-right {
  font-family: "Roboto", sans-serif;
  background-color: #f9fafc;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form__about {
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 40px;
  margin-top: 100px;
  max-width: 60%;
}

.form__main {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 10px 10px rgba(49, 49, 49, 0.507);
  padding-left: 40px;
  background-color: white;
  font-weight: 500;
}

.form__legend {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

fieldset {
  display: flex;
  border: none;
  gap: 80px;
}

/* allow for columns within the form */
.form__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* make the form input name appear above the input */
.form__input {
  display: flex;
  flex-direction: column;
}

/* form input name styling */
label {
  color: rgb(48, 48, 48);
  font-weight: 500;
  font-size: 0.8em;
  letter-spacing: 2px;
}

/* input box styling */
input {
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  width: 220px;
  height: 20px;
}

input:focus {
  border: 1px solid rgb(95, 146, 223); /* Change border color to blue */
  outline: none; /* Remove default browser outline */
}

#pwd:invalid,
#confirm-pwd:invalid {
  border: 1px solid red;
}

section {
  position: absolute;
  margin-left: 40px;
}

button {
  font-family: Roboto;
  background-color: #596d48;
  border: none;
  border-radius: 7px;
  margin-top: 40px;
  padding: 15px 55px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.login {
  margin-top: 20px;
  font-weight: 500;
}

span {
  color: #596d48;
  font-weight: 700;
}
